<!--header-->
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Jasse's House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me">About Me</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button class="btn btn-outline-success m-2 my-sm-0" type="submit">Search</button>
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
            <!-- Button trigger modal -->
            <button type="button" class="btn mx-2 btn-primary" data-toggle="modal" data-target="#SignInModal">
                Sign in
            </button>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="SignInModal" tabindex="-1" aria-labelledby="SignInModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignInModalLabel"><i class="fa-solid fa-right-to-bracket"></i> Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-dark btn-block btn-sm mx-1"><i class="fa-brands fa-google"></i> Sign In with Google</button>
                            <button type="button" class="btn btn-outline-dark btn-block btn-sm mx-1"><i class="fa-solid fa-envelope"></i> Sign In with E-Mail</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-dark btn-block btn-sm mx-1"><i class="fa-brands fa-google"></i> Sing Up with Google</button>
                            <button type="button" class="btn btn-outline-dark btn-block btn-sm mx-1"><i class="fa-solid fa-envelope"></i> Sign Up with E-Mail</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</header>