{% extends 'blog/base.html'%}
{% load static %}
{% block head_title %}
Blog
{% endblock %}
{% block main_area %}
<main>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <article class="col-md-8 col-lg-9">
                <h1>Blog {% if category%}<span class="badge badge-secondary">{{category}}</span>{% endif%}
                    {% if tag%}<span class="badge badge-secondary">{{tag}}({{tag.post_set.count}})</span>{% endif%}</h1>
                <!-- Featured blog post-->
                {% if post_list.exists %}
                {% for p in post_list %}
                <div class="card" id="post-{{p.pk}}">
                    {%if p.head_image%}
                    <a href="#!"><img class="card-img-top" src="{{p.head_image.url}}"
                            alt="{{p}} head image"></a>
                    {% else %}
                    <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200"
                        alt="random-image"></a>
                    {% endif%}
                    <div class="card-body contents">
                        {%if p.category%}
                            <span class="badge badge-secondary float-right">{{p.category}}</span>
                        {% else %}
                            <span class="badge badge-secondary float-right">미분류</span>
                        {% endif%}
                            <h2 class="card-title">{{p.title}}</h2>
                            <div class="small text-muted">Posted on {{p.created_at}}</div>
                            <div>By <a href='#'>{{p.author | upper}}</a></div>
                        {%if p.hook_text%}
                            <h5 class="text-muted">{{p.hook_text}}</h5>
                        {% endif%}
                            <p class="card-text">{{p.content | truncatewords:45}}</p>

                        {% if p.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in p.tags.iterator %}
                                <a href="{{tag.get_absolute_url}}"><span class="badge badge-pill badge-light">{{tag}}</span></a>
                            {% endfor %}
                            <br/>
                            <br/>
                        {% endif%}
                        <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
                    </div>
                </div>
                {% endfor %}
                {% endif%}
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <div class="mb-5">
                    <ul class="pagination justify-content-center my-2">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                                aria-disabled="true">Newer</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item"><a class="page-link" href="#!">15</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                    </ul>
                    </div
                </nav>
            </article>
            {% include 'blog/aside.html' %}
        </div>
    </div>
</main>
{% endblock %}