{% extends 'blog/base.html'%}
{% block main_area %}
    <section class="m-5 pt-4">
        <h1 class="">Blog</h1>
        <table class="table table-hover table-striped contents">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">개시일</th>
                    <th scope="col">수정일</th>
                    <th scope="col">head_image</th>
                    <th scope="col">Text</th>
                </tr>
            </thead>
            <tbody>
                {% for p in post_list %}
                <tr>
                    <th>{{p.id}}</th>
                    <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
                    <td>{{p.created_at.date}}</td>
                    <td>{{p.update_at.date}}</td>
                    <td>
                        {% if p.head_image %}
                        <img width="300px" class="img-fluid rounded" src="{{p.head_image.url}}" alt="{{p}} head-image" ></td>
                        {% else %}
                        <img width="300px" class="img-fluid rounded" src="https://picsum.photos/seed/{{p.id}}/800/200" alt="{{p}} ramdaom-image" >
                        {% endif %}
                    </td>
                    <td>
                        {% if p.hook_text %}
                        {{p.hook_text}}
                        {% else %}
                        {{p.contet | truncatewords:30}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}